* {
  padding: 0;
  margin: 0;
}

body {
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}
.results {
  margin-bottom: 50px;
  text-align: center;
}
.choice {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.choice:hover {
  transform: scale(1.1);
}

.score {
  margin-bottom: 50px;
  font-size: 48px;
}

.score-num {
  background: #000;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}
.rules {
  max-width: 600px;
}

.container {
  max-width: 650px;
  padding: 2px;
  position: relative;
  z-index: 1;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  margin-right: 25px;
  filter: brightness(120%);
  margin-bottom: 100px;
}

.container:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 600px;
  height: 66px;
  left: -20px;
  top: 0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  filter: blur(20px);
}

.gradient {
  background-color: #0b090a;
  padding: 5px;
}
